<article class="mt-3 p-1">
  <h1>Publications (2018):</h1>
  <ol>
    <li><p style="margin:0"><u>Alexandru Topîrceanu</u>, “Competition-Based Benchmarking of Influence Ranking Methods in Social Networks”, <em><b>Complexity</b></em>,
      vol. 2018, Article ID 4562609, 15 pages, 2018. <a href="https://doi.org/10.1155/2018/4562609" target="_blank">https://doi.org/10.1155/2018/4562609</a>.
    </p>
      
	  <p style="color:gray;padding-left:25px">&emsp;&emsp;Paper metrics: <em>journal IF=1.829, Q2 Multidisciplinary Sciences / Q2 Mathematics, Interdisciplinary Applications</em></p></li>

    <li><p><u>Alexandru Topîrceanu</u> and Mihai Udrescu, "Topological Fragility versus Antifragility: Understanding the Impact
      of
      Real-time Repairs in Networks Under Targeted Attacks", <em>In Proceedings of the 2018 IEEE/ACM International
        Conference
        on Advances in Social Networks Analysis and Mining (<b>ASONAM</b>), In presss</em>, ACM, 2018.</p></li>

    <li><p>Gabriel Barina, Mihai Udrescu, <u>Alexandru Topîrceanu</u> and Mircea Vlăduțiu, "Simulating payoff distribution in
      networks
      of economic agents", <em>In Proceedings of the 2018 IEEE/ACM International Conference on Advances in Social
        Networks
        Analysis and Mining (<b>ASONAM</b>), In presss</em>, ACM, 2018.</p></li>
		
	<li><p style="margin:0">Silvia Fierăscu, Mihai Pârvu, <u>Alexandru Topîrceanu</u> and Mihai Udrescu, "Exploring Party Switching in the Post-1989 Romanian Politicians Network from a Complex Network Perspective", <em><b>Romanian Journal of Political Science</b></em>, <em>under revision.</em></p>	
		
		<p style="color:gray;padding-left:25px">&emsp;&emsp;Paper metrics: <em>journal IF=0.462, Q4 Political Science</em></p></li>
		
  </ol>
</article>
