<article class="mt-3 p-1">
  <h1>Web of Science indexed publications</h1>
  <h3>Stage 1 (2018):</h3>
  <ol>
    <li><p style="margin:0"><u>Alexandru Topîrceanu</u>, “Competition-Based Benchmarking of Influence Ranking Methods in Social Networks”, <em><b>Complexity</b></em>,
      vol. 2018, Article ID 4562609, 15 pages, 2018. <a href="https://doi.org/10.1155/2018/4562609" target="_blank">https://doi.org/10.1155/2018/4562609</a>.
    </p>
      
	  <p style="color:gray;padding-left:25px">&emsp;&emsp;Paper metrics: <em>journal IF=1.829, Q2 Multidisciplinary Sciences / Q2 Mathematics, Interdisciplinary Applications</em></p></li>

    <li><p><u>Alexandru Topîrceanu</u> and Mihai Udrescu, "Topological Fragility versus Antifragility: Understanding the Impact
      of Real-time Repairs in Networks Under Targeted Attacks", <em>In Proceedings of the 2018 IEEE/ACM International
        Conference on Advances in Social Networks Analysis and Mining (<b>ASONAM</b>)</em>, pp. 1215-1222. IEEE. 2018.</p></li>

    <li><p>Gabriel Barina, Mihai Udrescu, <u>Alexandru Topîrceanu</u> and Mircea Vlăduțiu, "Simulating payoff distribution in
      networks of economic agents", <em>In Proceedings of the 2018 IEEE/ACM International Conference on Advances in Social
        Networks Analysis and Mining (<b>ASONAM</b>)</em>, pp. 467-470. IEEE. 2018.</p></li>
		
	<li><p style="margin:0">Silvia Fierăscu, Mihai Pârvu, <u>Alexandru Topîrceanu</u> and Mihai Udrescu, "Exploring Party Switching in the Post-1989 Romanian Politicians Network from a Complex Network Perspective", <em><b>Romanian Journal of Political Science</b></em>, 18, no. 1, 2018.</p>			
		<p style="color:gray;padding-left:25px">&emsp;&emsp;Paper metrics: <em>journal IF=0.462, Q4 Political Science</em></p></li>		
  </ol>
  
  <h3>Stage 2 (2019):</h3>
  <ol>
	<li><p>Gabriel Barina, Mihai Udrescu, Alecandra Barina, <u>Alexandru Topîrceanu</u> and Mircea Vlăduțiu, "Agent-based simulations of payoff distribution in economic networks", <em><b>Social Network Analysis and Mining</b> (SNAM)</em>, 2019. <a href="https://doi.org/10.1007/s13278-019-0601-y" target="_blank">https://doi.org/10.1007/s13278-019-0601-y</a>.
	</p>
		<p style="color:gray;padding-left:25px">&emsp;&emsp;Paper metrics: <em>WoS JCR journal without current impact factor</em></p></li>
  
    <li><p style="margin:0"><u>Alexandru Topîrceanu</u> and Radu-Emil Precup, “A Novel Methodology for Improving Election Poll Prediction Using Time-Aware Polling”, <em>In Proceedings of the 2019 IEEE/ACM International Conference on Advances in Social
        Networks Analysis and Mining (<b>ASONAM</b>), In presss</em>, 2019.</p></li>
		<br/>
	<li><p style="margin:0">Mihaela Topîrceanu, <u>Alexandru Topîrceanu</u> and Mihai Udrescu, "Exploring currency exchange dynamics from a 	complex network perspective", <em>In Proceedings of the 2019 IEEE/ACM International Symposium on Applied Computational Intelligence and Informatics (<b>SACI</b>), In Press</em>, 2019.</p></li>					
  </ol>
</article>
