<div class="jumbotron no-border-top">
  <h1 >IMPRESS PROJECT</h1>
  <p><strong>IM</strong>proving the <strong>PRE</strong>diction of opinion dynamics in temporal
    <strong>S</strong>ocial networks: Mathematical modeling and <strong>S</strong>imulation framework</p>
  <p class="mb-0"><strong>Project number:</strong> PN-III-P1-1.1-PD-2016-0193</p>
  <p class="mb-0"><strong>Contract number:</strong> 28 PED / 2018</p>
  <p class="mb-0"><strong>Period:</strong> May 2018 – November 2019</p>
  <p class="mb-0"><strong>Main research field:</strong> Computer Science and Informatics</p>
  <p class="mb-0"><strong>Subfields:</strong> Scientific computing, simulation and modeling tools</p>
</div>

<article class="text-justify p-2">
  <h2>Abstract</h2>
  <div class="mx-3">
    <p>In a rapidly evolving world, with growing population and accelerated access to online media, the need to
      understand the structures and behavior of human society has become more important than ever. Having emerged as an
      interdisciplinary field in the 21st century, social networks analysis is on the quest to understand opinion
      formation
      and diffusion from a scientific point of view. The formation of social networks, namely the way connections are
      created and strengthened, is a very complex process, and there are many factors that interfere for the emergence
      and
      evolution of social ties. Notable research efforts try to explain the high complexity of such network structures,
      by
      proposing corresponding algorithmic models. Nevertheless, available models have many limitations as they typically
      assume opinion interaction mechanisms based on fixed thresholds, static topologies, or omnipresent opinion
      sources.</p>

    <p>This project comes to improve our understanding of opinion diffusion in emergent social networks. Consequently,
      to
      build models that are aware of these phenomena, I propose fundamental topological analysis of empirical data -
      using
      network motifs, community detection algorithms and statistics - to understand the behavioral patterns and
      centralities
      which have an impact on spatial and temporal distribution of opinion. As opposed to most existing opinion
      interaction
      models, I propose a temporal opinion injection model which evolves over time according to basic human traits and
      underlying social topology. Also, by employing discrete event simulation on real-time gathered social network
      data, I
      propose the implementation of an online platform to offer improved prediction on poll outcomes for
      socially-relevant
      topics.</p>

    <p>In the wake of big data analytics, this project sets out to push the boundaries of scientific understanding of
      opinion
      dynamics in social networks by analyzing how the underlying network topology influences communication patterns and
      polarization of opinion.</p>
  </div>
</article>
