<article class="mt-3 p-1">
  <h1>Project objectives:</h1>
  <p>Improving the prediction of opinion distribution in a target society by means of topological analysis, temporal and
    spatial distribution of opinion sources, and real-time simulation on empirically gathered data.</p>
  <ul class="list-unstyled">
    <li>
      <p><b>O1</b>: Topological analysis of empirical social network data to understand how interconnection patterns of
        individuals and communities influence the spread of opinion.
      </p>
    </li>
    <li>
      <p><b>O2</b>: Development of an innovative social interaction model, inspired by previous original work, considering the
        temporal aspect of opinion sources.
      </p>
    </li>
    <li>
      <p>
        <b>O3</b>: Definition of a strategy for real-time opinion seed selection by means of node and edge centrality
        distribution.
      </p>
    </li>
    <li>
      <p>
        <b>O4</b>: Synergy of results from O1-O3 with direct applicative socio-economic impact by developing a crowdsourcing
        web-platform for gathering anonymized empirical data from users (e.g., opinion, time, location).

      </p>
    </li>
  </ul>
</article>
<article class="mt-3 p-1">
  <h1>Estimated results:</h1>
  <div class="row">
    <p class="col-12 col-sm-4 text-justify p-2">The targeted deliverables of this project are 1 highly visible journal publication (D1), and 2
      publications (D2, D3) at international conferences. Another deliverable is a web platform/phone app (D4) for
      online
      voting on diverse socio-cultural topics that will be used both for gathering data, and for research during the
      project
      period, as well as serve as a free platform offering individuals unbiased information about public opinion on
      important topics.
    </p>
    <figure class="col-12 col-sm-8 figure">
      <img [src]="'./assets/images/fig1.png'" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure."/>
      <figcaption class="figure-caption">
        <b>Figure 1.</b> Upper panel: the main scientific objective of creating a dynamic opinion injection model which
        is able
        to better predict opinion distribution at a given time t, taking into consideration the position, time frames
        and remnant influence of each expressed opinion in the social network. Lower panel: web-platform deployment of
        the scientific model, relying on crowdsourcing data and storing it on a cloud service. The time and location
        information are used to estimate the influence and interaction patterns in the vicinity of the node (user).
      </figcaption>
    </figure>
  </div>
  <div class="row">
    <p class="col-12 col-sm-4 text-justify p-2">
      D2 and D3 will focus on delivering intermediary research results from the expected findings on how opinion
      spreaders
      work, based on motifs analysis, respectively experimentation of a new agent interaction model based on temporal
      injection of opinion. D1 will encompass validated research on how opinion spreading can be predicted, and what the
      key
      elements are that influence the complex diffusion process.
    </p>
    <figure class="col-12 col-sm-8 figure">
      <img [src]="'./assets/images/fig2.png'" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure."/>
      <figcaption class="figure-caption"><b>Figure 2</b>. Impact of the proposed project in perspective to the current
        statistical approaches in opinion poll analysis and prediction. The statistical method relies solely on a small
        subset of individuals from which it tries to extrapolate overall opinion distribution; however, most of the
        opinion remains unknown (see gray pie chart in upper panel). The proposed approach implies simulation of opinion
        propagation using more reliable scientific models and thus yields a more accurate perspective of opinion
        distribution (see lower panel pie chart).
      </figcaption>
    </figure>
  </div>
</article>
