<article class="mt-3 p-1">
  <div class="row text-justify">
    <figure class="col-12 col-md-2 figure pt-2 max-height-70 width-50">
      <img [src]="'./assets/images/alex.jpg'" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure."/>
    </figure>
    <div class="col-12 col-md-10 p-2">
      <p><a href="http://staff.cs.upt.ro/~alext/">Alexandru TOPÎRCEANU</a> was born on October 26 1987 in Timisoara, where he lives to this day. He followed the German school Nikolaus Lenau (from Kindergarten to highschool), and then started his bachelor studies at the Politehnica University Timisoara (UPT). Consequently, he finished a bachelor in Computer Science (CTI) in 2010, and followed a master in Software Engineering at the Faculty of Automation and Computers.</p>

      <p>His professional activity includes participation at programming contests, like “Noi Info”, where he won 4th and
        2nd places in game development; 1st national and 5th international prize at the “Solar Schools” inventics
        competition. Also, he participated and won, or ranked very good, in many competitions as a student (CEC, iTEC, ACM,
        BitDefender), and one mentionable accomplishment is the ranking in the world’s top 6 at the Microsoft Imagine
        Cup competition in Poland 2010.</p>

		<p>Currently he occupies the position of Assistant Professor (Lecturer) at the Department of Computer and Information Technology @UPT. His PhD thesis, which was started in 2012, is entitled “Structural and
        Behavioral Analysis and Modeling of the Society” and deals with the topics of social networks analysis, network
        topologies, opinion diffusion, and computer simulation.</p>

      <p>He worked as a Java software engineer at Continental Automotive for 1 year, and is currently an active research member of the ACSA group in UPT, and the Morpheus, Inception and Impress teams, dealing with complex networks and network medicine topics. He teaches Android development, Hardware-software Codesign, Computer Organization and Algorithms Design at the Romanian and English sections in the Department of Computer and Software Engineering.</p>
    </div>
  </div>
  <hr>
  <div class="row text-justify">
    <div class="col-12 col-md-10 order-sm-0 order-1 p-2">
      <p><a href="http://www.aut.upt.ro/~rprecup/">Radu-Emil PRECUP</a> was born in Lugoj, Romania, in 1963. He received the Dipl.Ing. (Hons.) degree in automation and
      computers from the "Traian Vuia" Polytechnic Institute of Timisoara, Timisoara, Romania, in 1987, the Diploma in
      mathematics from the West University of Timisoara, Timisoara, in 1993, and the Ph.D. degree in automatic systems
      from the "Politehnica" University of Timisoara, Timisoara, in 1996.</p>

      <p>He is the author or coauthor of more than 300 papers published in various scientific journals, refereed conference
      proceedings, and contributions to books. His research interests include mainly development and analysis of new
      control structures and algorithms (conventional control, fuzzy control, data-based control, sliding mode control,
      neuro-fuzzy control, etc.), theory and applications of soft computing, computer-aided design of control systems,
      modelling, optimization (including nature-inspired algorithms), and applications to mechatronic systems (including
      automotive systems and mobile robots), embedded systems, control of power plants, servo systems, electrical
      driving systems.</p>

      <p>Prof. Precup is a corresponding member of The Romanian Academy, a member of the Technical Committee (TC) on
      Virtual Systems in Measurements of the Institute of Electrical and Electronics Engineers (IEEE) Instrumentation &
      Measurement Society.</p>

      <p>He was the recipient of the Elsevier Scopus Award for Excellence in Global Contribution (2017), the "Grigore
      Moisil" Prize from the Romanian Academy, two times, in 2005 and 2016, for his contribution on fuzzy control and
      the optimization of fuzzy systems, the Spiru Haret Award from the National Grand Lodge of Romania in partnership
      with the Romanian Academy in 2016 for education, environment and IT, and other prizes. Notably, he is listed as
      one of the top 10 researchers in Artificial Intelligence and Automation (according to IIoT World as of July 2017).</p>

    </div>
    <figure class="col-12 col-md-2 order-0 order-sm-1 figure pt-2">
      <img [src]="'./assets/images/radu.jpg'" class="figure-img img-fluid rounded"
           alt="A generic square placeholder image with rounded corners in a figure."/>
    </figure>
  </div>
</article>
